/* Global styles for peterlundgren.com
 *
 * Color scheme contains some solarized[1].
 *
 *   [1]: http://ethanschoonover.com/solarized
 */

* {
  margin: 0;
  padding: 0;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #6c71c4;
}

blockquote {
  background-color: #f7f7f7;
  font-style: italic;
}

blockquote, pre {
  padding: 1em;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

code, pre {
  background-color: #f7f7f7;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #b58900;
  font-size: 100%;
  font-weight: bold;
  margin: 2em auto 1em auto;
}

p {
  margin: 1em 0;
}

ul {
  margin-left: 1em;
}

#aliases ul, #posts ul, #projects ul {
  list-style-type: none;
  margin-left: 0;
}

#all {
  font-family: helvetica, arial, clean, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 33em;
  padding: 1em;
}

#footer {
  border-top: 0.3em solid #f7f7f7;
  color: #999;
  font-size: 80%;
  margin: 2em 0;
  padding: 1em 0;
}

#header {
  margin: 3em auto 2em auto;
}

#header h1 a {
  color: #cb4b16;
  text-decoration: none;
}

#posts .date:after {
  content: "\00B7";
}

#projects li {
  margin-top: 1em;
}

#projects .project {
  display: block;
  font-weight: bold;
}

.date {
  color: #999;
  font-family: monospace;
}

.post {
  text-align: justify;
}

::selection {
  background-color: #ff5e99;
  color: white;
  text-decoration-color: white;
}

::-moz-selection {
  background-color: #ff5e99;
  color: white;
  text-decoration-color: white;
}
