<div id="aliases">
  <h2>Aliases</h2>
  <ul>
    <li><a href="http://github.com/peterlundgren">GitHub</a></li>
    <li><a href="http://www.linkedin.com/in/peterbrucelundgren">LinkedIn</a></li>
    <li><a href="http://stackoverflow.com/users/1727593/peter-lundgren">stackoverflow</a></li>
    <li><a href="https://www.coursera.org/user/i/7c1b0c4670823373f287ab95acf6c67a">Coursera</a></li>
    <li><a href="http://www.facebook.com/peter.bruce.lundgren">Facebook</a></li>
    <li><a href="https://news.ycombinator.com/user?id=peterlundgren">Hacker News</a></li>
    <li><a href="http://www.reddit.com/user/peterlundgren">reddit</a></li>
    <li><a href="http://peterlundgren.imgur.com">imgur</a></li>
    <li><a href="http://www.mountainproject.com/u/107807423">Mountain Project</a></li>
  </ul>
</div>
