<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/global.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41399100-1', 'peterlundgren.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="all">
      <div id="header">
        <h1><a href="/">Peter Lundgren</a></h1>
      </div>
      <div id="content">
        {% comment %} page.date is used as a sentinel to find out if we are
        rendering a post {% endcomment %}
        {% if page.date %}
          <div class="post">
            <h1>{{ page.title }}</h1>
            <p class="date">{{ page.date | date_to_string }}</p>
            {{ content }}
          </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
      <div id="footer">
        Copyright &copy; {{ site.time | date: "%Y" }} Peter Lundgren
            (<a href="/LICENSE.html">License</a>)<br>
        peter@peterlundgren.com
      </div>
    </div>
  </body>
</html>
