<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body>
    <div id="all">
      <div id="header">
        <h1><a href="/">Peter Lundgren</a></h1>
      </div>
      <div id="content">
        {% comment %} page.date is used as a sentinel to find out if we are
        rendering a post {% endcomment %}
        {% if page.date %}
          <h1>{{ page.title }}</h1>
          <p class="date">{{ page.date | date_to_string }}</p>
        {% endif %}
        {{ content }}
      </div>
      <div id="footer">
        Copyright &copy; 2012 Peter Lundgren (<a href="LICENSE.html">License</a>)<br>
        peter@peterlundgren.com
      </div>
    </div>
  </body>
</html>
